<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.xiaomi.mybatis.mapper.UserMapper">
      <insert id="insertUser" parameterType="User"> 
        insert into vincent_user(name,age)  values(#{name},#{age})
      </insert>
    	
      <select id="getUser" resultType="User" parameterType="java.lang.String">
		select * from vincent_user where name=#{name}      
      </select>
    </mapper>